<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>饮食小常识</title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            width: 100%;
            background-color: #C1F8EF;
        }

        .h1 {
            margin-left: 100px;
            margin-top: 20px;
        }

        .content {
            width: 800px;
            height: 1000px;
            margin: auto;
            /*background: white;*/
        }

    </style>
</head>

<body>

<div class="content">
    <h1 class="h1" th:text="${title}">6666</h1>
    <br>

    <div id="content" th:utext="${content}">
        <p>
             距离高考还有一周，许多考生家长都想方设法在最后冲刺的时刻给孩子“补补”。
            然而，盲目进补不仅不能帮助考生在考试中取得好成绩，还可能适得其反。在这个对许多考生来说是至关重要的人生节点的时候，怎样吃才能避免关键时刻“掉链子”？洽尔和咆哮姐为大家总结了考前饮食三大“忌”，快来看看怎么躲过这些坑吧！
            忌：饮食变化大
            没有所谓的高考营养餐或补脑神器。备考期间考生精神压力大，肠胃敏感，不熟悉的食物可能会引发肠胃应激反应，轻者感到胃痛不适，严重可能造成腹泻，不利于考试发挥。考试期间应向考生提供符合日常习惯的饮食，也不要劝考生“多吃”，跟平时一样“七分饱刚刚好”，吃太饱可能会导致“饭困”。
            忌：用脑需要甜食
            大脑的主要营养来源是葡萄糖，但并不等于用脑时就要放开来吃甜食喝甜饮料。一次性摄入大量的糖分反而会让人犯困，难以集中注意力。推荐适量吃些健康主食，比如杂粮饭（杂粮与白米，比例对半，并选择藜麦、小米这样不易胀气的杂粮）等，保证大脑正常运作。
            忌：太多浓茶咖啡提神
            备考期间难免睡眠不足，许多考生会用浓茶、咖啡提神。但是，过多咖啡因摄入会影响睡眠质量，同时会加剧水分流失，刺激肠胃，有些对咖啡因敏感的人还会出现心慌、手抖的症状，这样反而不利于考试发挥。要想考得好，还是保证充足睡眠比较重要。
            备考期间，关键是要吃得舒服 备考饮食应与平时一样注意营养均衡，而学习紧张时的饮食更要注意吃得舒服少负担。今天洽尔和咆哮姐要跟大家分享一个“舒服”的食谱。 鲜虾云吞锅 （食谱参考自渡边有子《无印良品的花样土锅料理》）
            材料 自家制鲜虾云吞 6只 豆芽 1把 豌豆苗 1把 西芹 1段 自家制高汤（清水也行） 500毫升 姜丝（可选） 适量 醋（可选） 适量 步骤
            1.锅里加入高汤或清水，煮沸。等待期间可以用削皮刀将芹菜削成长长的薄片，豌豆苗拦腰切成两段。 2.加入豆芽。 3. 豆芽煮软了就可以加入云吞。 4. 放入芹菜，稍微烫一下就好。 5.
            最后放入豆苗，也是烫一下就可以了。如果用清水煮的话，可以关火后淋一点点生抽、麻油增加香味。 6.根据喜好自己加入姜丝和醋进行调味。 总结 1.保持平时的饮食习惯，不要做太多变动
            2.摄入适量的健康主食，但要少吃甜食，少喝甜饮料 3.少喝浓茶咖啡，保证睡眠 最后，洽尔和咆哮姐祝大家考试加油啦！ 关于我们： 洽尔：美国注册营养师（Registered
            Dietitian），美国塔夫茨大学（Tufts University）营养学、公共卫生双硕士，目前在纽约一家医院从事临床营养工作。 咆哮姐：美国注册营养师（Registered
            Dietitian），美国约翰霍普金斯人类营养学硕士，目前在波士顿一家医院从事临床研究工作。 关于我们的微信公众号“海盐配肉又配甜”（ID: savorynsweet） 
            大概就讲讲吃什么能减肥，吃什么能增肌，吃什么能撩到男神女神，总之我们不是一般的营养师啦，快来安利我们吧！么么哒！
        </p>
    </div>
</div>

</body>
</html>