<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title th:text="${foodName}"></title>
    <style>
        * {
            margin: 0;
            padding: 0;
        }

        html, body {
            width: 100%;
            background-color: #C1F8EF;
        }

        .content {
            width: 900px;
            height: 1000px;
            margin: auto;
            position: relative;
            top: 60px;
            /*background: white;*/
        }

    </style>
</head>
<body>
  <div class="content" th:utext="${content}">
            5444444444dasdaaaaaaaaaaa
  </div>

</body>
</html>