<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head>
		<meta charset="UTF-8">
		<title>修改密码</title>
		<link rel="stylesheet" href="css/style1.css" />
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/lib/jquery.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
		<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
		<style type="text/css">

			body {
				background: url("images/bg3.png") no-repeat;
				background-size: cover;
			}

			#load{
				position: relative;
				bottom: -50px;
				margin: auto;
				color: chartreuse;
			}

		</style>
	</head>
	<script>
        $().ready(function () {
            $("#register").validate({
                rules:{
                    username: {
                        required: true,
                        minlength: 6,
                        maxlength: 6
					},
                    password: {
                        required: true,
                        minlength: 6,
                        maxlength: 6
                    },
                    Newpassword: {
                        required: true,
                        minlength: 6,
                        maxlength: 6,
                    },
                    checkNewpassword: {
                        required: true,
                        minlength: 6,
                        maxlength: 6,
                        equalTo: "#Newpassword"
                    }
                },
                messages: {
                    username:{
                        required: "请输入账号",
                        minlength: "密码长度为6",
                        maxlength: "密码长度为6"
					},
                    password: {
                        required: "请输入密码",
                        minlength: "密码长度为6",
                        maxlength: "密码长度为6"
                    },
                    Newpassword: {
                        required: "请输入新密码",
                        minlength: "新密码长度为6",
                        maxlength: "新密码长度为6",
                    },
                    checkNewpassword: {
                        required: "请再次输入新密码",
                        minlength: "新密码长度为6",
                        maxlength: "新密码长度为6",
                        equalTo: "两次密码输入不一致"
                    }
                }
            });

        });

        jQuery.validator.addMethod("notEqual", function() {
            var v1 = $("#Newpassword").val();
           var  v2 = $("#password").val();
            return v1 != v2;
        }, "不能与旧密码一致");
	</script>
	<body>
		
		<div class="pane">			
			<p>修改密码</p>			
			<form action="/user/passwordUpdate" id="register" method="post">
				<input type="text" name="username" id="username" placeholder="账号" autocomplete="off"/>
				<input type="password" name="password" id="password" placeholder="原密码" autocomplete="off"/>
				<input type="password" name="Newpassword" id="Newpassword" placeholder="新密码"  class="notEqual"/>
				<input type="password" name="checkNewpassword"  id="checkNewpassword" placeholder="确认密码" />
				<button type="submit" class="bt1">确认修改</button>
				<span class="error" th:text="${error}"></span>
			</form>			
			<a href="/user/" class="reg" id="load">登录</a>
		</div>
	</body>
	
</html>
